  <div class="row">
    <div class="span1">
          <%= image_tag("icon.png") %>
        </div>
        <div class="span3">
          <h3>Step 1</h3>
          <p>Find the organizations and agencies that you want to support.  Our extensive database offers unique insights into each organization's services.</p>
        </div>
       <div class="span1">
          <%= image_tag("icon.png") %>
       </div>
       <div class="span3">
          <h3>Step 2</h3>
          <p>Tithe's easy-to-use interface allows you to make a one-time contribution or a monthly payment.  Cancel at anytime.</p>
        </div>

        <div class="span1">
          <%= image_tag("icon.png") %>
        </div>
        <div class="span3">
          <h3>Step 3</h3>
          <p>Receive regular updates on how your supported organizations are doing.  Meet and communicate with others who share similar interests.</p>
        </div>
    </div>
  <p></p>
