
<%= render 'layouts/carousel' %>
<h2>Welcome to Tithe.</h2>
<h3>We help citizens support the governmental agencies they care most about. </h3>
<p>The government--whether federal, state, or local--provides many vital services that we depend on.  These services include everything from the streets we drive on, the schools our children are educated in, and the public transportation that help us get to work. </p>
<p> Public spending has been drastically reduced in many key areas over the last few years due to the economic recession.  These reductions have meant <strong>fewer afterschool programs</strong>, <strong>fewer operating hours for local libraries</strong>, <strong>fewer police officers keeping our neighborhoods safe</strong>, and <strong>fewer services in every manner</strong>.</p>
<p> Tithe exists to connect citizens with the governmental agencies you support most.  Through Tithe, you can easily make a donation to help support the government service of your choice. </p>
<div class="center"><%= link_to "Join today!", sign_up_path, :class => "btn btn-primary btn-large", :method => :get %> <%= link_to "Log in!", login_path, :class => "btn btn-primary btn-large", :method => :get %></div>
<br><br><br><br>
<%= render 'pages/steps' %>
