<h1>All Organizations</h1>
<h3><div class="center"><%= link_to 'Add New Organization', new_organization_path, :class => "btn btn-primary btn-large" %>  <%= link_to 'Contribute to an organization', new_transaction_path, :class => "btn btn-primary btn-large" %></div></h3>
<table>
  <tr>
    <th>Organization Name</th>
    <th>Organization Description</th>
  </tr>

  <% @organizations.each do |org| %>
    <tr>
      <td><%= org.name %></td>
      <td><%= org.description %> </td>
    </tr>
  <% end %>
</table>
