<!-- FOOTER -->
<footer>
  <div class="container">
  <div class="row">
    <div class="span3">
      <div id="jstwitter">
        <h3>Twitter Feed</h3> 
      </div>
    </div>
    <div class="span3">
      <h3>Latest News</h3>
      <p>Tithe launches at SF Startup Weekend. <%= link_to "Read More", "http://swbay.startupweekend.org/" %></p>
      <p>Anonymous donor makes $1M contribution to Big Bend National Park. <a href="#">Read More</a></p>
    </div>
    <div class="span3">
      <h3>Contact Us!</h3>
          Have a question or comment? We can help you!<br>
          <br>by phone: 1-(555)-555-5555 
          <br>by mail: titheswsf@gmail.com
    </div>
    <div class="span3">
      <h3>Newsletter</h3>
      <p>Subscribe to our newsletter and get the latest news!</p>
      <form action="#" id="subscribe-form" method="post">
        <input type="text" name="email" id="email" placeholder="Your Email Address">
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
    </div>
  </div>
  <p>&copy; Tithe 2012</p>
</div>
</footer>
