    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div>
            <%= link_to "Tithe", "#", class: "brand" %>
          </div>
          <div class="container nav-collapse">
            <ul class="nav pull-right">
              <li><%= link_to "Link1", "/path1"  %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>